<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.dao.TestDao">
	
	 <resultMap id="emsMap" type="com.example.demo.dto.Ems">
	   <result property="commId" column="COMMUNICATION_ID" />
	   <result property="leafId" column="LEAF_SEGMENT_ID" />
	   <result property="channelId" column="CHANNEL_INSTANCE_ID" />
	   <result property="userId" column="TMS_M_ID" />
	   <result property="name" column="TMS_M_NAME" />
	   <result property="phone" column="TMS_M_PHONE" />
	   <result property="email" column="TMS_M_EMAIL" />
	   <result property="field1" column="FIELD1" />
	   <result property="field2" column="FIELD2" />
	   <result property="field3" column="FIELD3" />
	   <result property="field4" column="FIELD4" />
	   <result property="field5" column="FIELD5" />
	   <result property="field6" column="FIELD6" />
	   <result property="field7" column="FIELD7" />
	   <result property="field8" column="FIELD8" />
	   <result property="count" column="COUNT" />
	 </resultMap>
	
	<select id="findUberAutoCount" resultMap="emsMap">
		SELECT COMMUNICATION_ID, COUNT(*) AS COUNT
		  FROM uber_target_user_auto
		WHERE 1=1
			AND DATE_FORMAT(load_date, '%Y%m%d') = #{field1}
		GROUP BY communication_id
	</select>
	
	<select id="findUberBetaCount" resultMap="emsMap">
		SELECT COMMUNICATION_ID, COUNT(*) AS COUNT
		  FROM uber_target_user_beta
		WHERE 1=1
			AND DATE_FORMAT(load_date, '%Y%m%d') = #{field1}
		GROUP BY communication_id
	</select>
	
	<delete id="deleteUberAutoDataByDate">
		DELETE FROM uber_target_user_auto
		WHERE 1=1
			AND DATE_FORMAT(load_date, '%Y%m%d') = #{field1}
	</delete>
	
	<delete id="deleteUberBetaDataByDate">
		DELETE FROM uber_target_user_beta
		WHERE 1=1
			AND DATE_FORMAT(load_date, '%Y%m%d') = #{field1}
	</delete>
	
	
	
</mapper>